.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.banner_image {
  text-align: center;
}
.banner_image img {
  width: 50%;
}

body {
  background-color: #4171d6;
}
.rotation_champion_image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:800px;
  margin:0 auto;
  overflow:hidden;
  padding: top 10px;
}
.find {
  width: 1000px;
  margin: 0 auto;
}
.para1 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.main_background {
  background-color: white;
  width: 1500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}
.summoner_001 {
  display: flex;
  align-items: center;
}
.summonerName {
  padding-left: 10px;
  font-weight: bold;
  font-size: 30px;
}
.summonerImage img {
  width: 100%;
  border-radius: 300px;
}
.summonerLevel {
  width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.summonerRank {
  display: flex;
  align-items: center;
}
.rank_para {
  font-weight: bold;
  font-size: 20px;
}
.tier_para {
  color: rgb(31, 142, 205);
  font-weight: bold;
  font-size: 25px;
}
.Lp {
  font-weight: bold;
}
.main_background {
  display: flex;
}
.right {
  width: 800px;
  margin-left: 60px;
}
.champParticipantsImgs img {
  width: 20%;
}
.myPickChamp img {
  width: 70%;
  border-radius: 100px;
}
.myChampName {
  font-weight: bold;
}

.kdaPara {
  font-weight: bold;
  font-size: 15px;
}
.winstatus {
  font-weight: bold;
  font-size: 30px;
}
.items img {
  width: 25%;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.ward img {
  width: 8%;
}
.w-btn-indigo {
  background-color: aliceblue;
  color: #1e6b7b;
}
.w-btn {
  width: 800px;

  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.bannedChampion img {
  width: 30%;
}
.ingameBtn {
  margin-left: 100px;
}
.notPlaying {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 40px;
  border: 1px solid gray;
  text-align: center;
}

.mastery img {
  width: 20%;
}
.banned img {
  width: 20%;
}
.bannedImg img {
  width: 70%;
}
.titleChampList{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.championList_title{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:1500px;
  margin:0 auto;
  overflow:hidden;
  padding: top 10px;
  padding: 10px;
 
}
.champ_image_list img{
  width:50%;
  border-radius: 100px;
}
a{
  color: white;
}
